@model IEnumerable<PlasticReductionProject.Models.Link>

@{
    ViewBag.Title = "Index";
}

<h2>Links to further information</h2>
<!-- add this when there is an administrator that wants to
                work on links using the webpage
<p>
    @Html.ActionLink("Create New", "Create")
</p>

    -->
<table class="table">


    @foreach (var item in Model)
    {

        <tr>
            <td width="10%" valign="middle">
                <a href=@item.URL target="_blank">
                    <img src=@item.Image.ToString() width="80%" />
                </a>
            </td>
            <td>
                <p class="h4">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>

            </td>
            <td>
            </td>
            <!-- add this when there is an administrator that wants to
                work on links using the webpage
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
        -->
        </tr>
}

</table>
