@model PlasticReductionProject.Models.ProductResult
@{
    ViewBag.Title = "View";
}
<img class="bg" src="~/Images/SeaBackground.jpg" />
<div width="100%" align="center">
    <br />
    <br />
    <br />
    <br />
    @using (Html.BeginForm("Calculator", "Calculator", FormMethod.Post))
    {
        <div class="qContainer">

            <img class="qImage" src="@Model.Product.Image" alt="@Model.Product.Description" />
            <div class="qOverlay">
                <h1 style="color:white; font-size:80px">@ViewBag.QuestionCounter</h1>
                <div class="question">
                    I @Model.Product.UseVerb @Model.Product.Description
                    <input type="number" id="AmountUsed" name="AmountUsed" min="0" max="100" required="required" oninvalid="this.setCustomValidity('Please enter a number here')"
                           oninput="setCustomValidity('')" /> per @Html.EnumDropDownListFor(x => x.PeriodUsed)
                        <input type="submit" value="Next" class="btn btn-default" id="btnSubmit" />
                    </div>
                </div>
            </div>
        }
</div>

<div style="position: absolute; top: 200px; left: 80px">
    @foreach (var tuple in ViewBag.Characters)
    {
            <p class="bubble bubble-bottom-left"><em> <strong>DID YOU KNOW</strong> <br /> @tuple.Item2.Text </em></p>
            <img src=@tuple.Item1.URL style="height: 250px " />
    }
</div>
