@model PlasticReductionProject.Models.ProductResult
@{
    ViewBag.Title = "View";
}

<div width="100%" align="center">
    <br />
    <br />
    <br />
    <br />
    @using (Html.BeginForm("Calculator", "Calculator", FormMethod.Post))
    {
        <div class="qContainer">

            <img class="qImage" src="@Model.Product.Image" alt="@Model.Product.Description" />
            <div class="qOverlay">
                <p style="font-size: 80px;">
                    @ViewBag.QuestionCounter
                </p>
                <div style="position: relative; top: 30%;">
                    <p style="font-size: 40px; ">
                        I @Model.Product.UseVerb @Model.Product.Description
                    </p>
                    <p style="font-size: 40px;">
                        <input type="number" id="AmountUsed" name="AmountUsed" min="0" max="100" required="required" oninvalid="this.setCustomValidity('Please enter a number here')"
                               oninput="setCustomValidity('')" />
                        per @Html.EnumDropDownListFor(x => x.PeriodUsed, "")
                    </p>
                    <input type="submit" value="Next" class="btn btn-default" id="btnSubmit" />
                    <input type="hidden" name="Id" value=@Model.Id />
                </div>
            </div>
        </div>

    }
</div>

<div style="position: absolute; top: 200px; left: 80px;">
    @foreach (var tuple in ViewBag.Characters)
    {
        <p class="bubble bubble-bottom-left"><em> <strong>DID YOU KNOW</strong> <br /> @tuple.Item2.Text </em></p>
        <img style="@tuple.Item1.Style" src=@tuple.Item1.URL />
    }
</div>

   