@model PlasticReductionProject.Models.ProductResult
@{
    ViewBag.Title = "View";
}
<img class="bg" src="~/Images/SeaBackground.jpg" />
<div width="100%" align="center">
    @using (Html.BeginForm("Calculator", "Calculator", FormMethod.Post))
    {
        <div class="qContainer">
            <h1 style="color:white">@ViewBag.QuestionCounter</h1>
            <img class="qImage" src="@Model.Product.Image" alt="@Model.Product.Description" />
            <div class="qOverlay">
                <div class="question">
                    I @Model.Product.UseVerb @Model.Product.Description
                    <input type="number" id="AmountUsed" name="AmountUsed" min="0" max="100" required="required" oninvalid="this.setCustomValidity('Please enter a number here')"
                           oninput="setCustomValidity('')"/> per @Html.EnumDropDownListFor(x => x.PeriodUsed)
                    <input type="submit" value="Next" class="btn btn-default" id="btnSubmit" />
                </div>
            </div>
        </div>
    }
</div>

<div>
    @foreach (var tuple in ViewBag.Characters)
    {
            <p class="bubble bubble-bottom-left"><em> <strong>DID YOU KNOW</strong> <br /> @tuple.Item2.Text </em></p>
            <img src=@tuple.Item1.URL style="height: 250px " />
    }
</div>
<!--<div class="img-slider">
    <div class="slider-container">
        <div class="slide">
            <img src="~/Images/RollingFacts/WWF-Plastics-Feature-Images-TURTLES.jpg" />
        </div>
        <div class="slide">
            <img src="~/Images/RollingFacts/WWF-Plastics-Feature-Images-WHALES.1aa1813.width-1600.b1b7407.jpg" />
        </div>
        <div class="slide">
            <img src="~/Images/RollingFacts/marinePlasticFacts.jpg" />
        </div>
    </div>
</div>-->
