@model PlasticReductionProject.Models.ProductResult
@{
    ViewBag.Title = "View";
}
<div width="100%" align="center">
    @using (Html.BeginForm("Calculator", "Calculator", FormMethod.Post))
    {
        <div class="qContainer">
            <h1>@ViewBag.QuestionCounter</h1>
            <img class="qImage" src="@Model.Product.Image" alt="@Model.Product.Description" />
            <div class="qOverlay">
                <div class="question">
                    I @Model.Product.UseVerb @Model.Product.Description
                    <input type="number" id="AmountUsed" name="AmountUsed" min="0" max="100" /> per @Html.EnumDropDownListFor(x => x.PeriodUsed)
                    <input type="submit" value="Next" class="btn btn-default" id="btnSubmit" />
                </div>
            </div>
        </div>
    }
</div>


<div class="img-slider">
    <div class="slider-container">
        <div class="slide">
            <img src="~/Images/RollingFacts/WWF-Plastics-Feature-Images-TURTLES.jpg" />
        </div>
        <div class="slide">
            <img src="~/Images/RollingFacts/WWF-Plastics-Feature-Images-WHALES.1aa1813.width-1600.b1b7407.jpg" />
        </div>
        <div class="slide">
            <img src="~/Images/RollingFacts/marinePlasticFacts.jpg" />
        </div>
    </div>
</div>
