@model PlasticReductionProject.Models.CalculatorResult
    @{
        ViewBag.Title = "Report";
    }

<h2>Report</h2>
<h2>SessionCookie = @ViewBag.SessionCookie</h2>

    <table style="width:100%">
        <tr>
            <td>
                <br /><image src="../../images/Simpsons/Bart.jpg" width="80%"></image>
            </td>
            <td>
                <p>
                    You are Bart Simpson!
                </p>
                <p>
                    <small>
                        You are below average for your plastic footprint. Plastic conservation hasn't been a priority in your life but you have some habits that are saving the planet.
                    </small>
                </p>
            </td>
        </tr>
    </table>

    <table style="width:100%">
        <tr>
            <td style="width:30%" align="center" valign="top">
                <h4>Petey PET</h4>
                <br /><image src="../../images/PlasticCharacters/PeteyPET.png" height="200px"></image>
                <p>
                    <br />
                    You use @Model.PETScore grams of PET per day. The average was 60 grams for the tested products.
                </p>
            </td>
            <td style="width:30%" align="center" valign="top">
                <h4>Harry HDPE</h4>
                <br /><image src="../../images/PlasticCharacters/HarryHDPE.png" height="200px"></image>
                      <p>
                          <br />
                          You use @Model.HDPEScore grams of HDPE per day.The average was  grams for the tested products.
                      </p>
            </td>

            <td style="width:30%" align="center" valign="top">
                <h4>Pedro PVC</h4>
                <br /><image src="../../images/PlasticCharacters/PedroPVC.png" height="200px"></image>
                      <p>
                          <br />
                          You use @Model.PVCScore grams of PVC per day.The average was  grams for the tested products.
                      </p>
            </td>
        </tr>
        <tr>
            <td style="width:30%" align="center" valign="top">
                <h4>LarryLDPE</h4>
                <br /><image src="../../images/PlasticCharacters/LarryLDPE.png" height="200px"></image>
                      <p>
                          <br />
                          You use @Model.LDPEScore grams of LDPE per day.The average was 70 grams for the tested products.
                      </p>
            </td>

            <td style="width:30%" align="center" valign="top">
                <h4>Polly And Paulie PP</h4>
                <br /><image src="../../images/PlasticCharacters/PollyAndPauliePP.png" height="200px"></image>
                      <p>
                          <br />
                          You use @Model.PPScore grams of PP per day.The average was  grams for the tested products.
                      </p>
            </td>

            <td style="width:30%" align="center" valign="top">
                <h4>Preston PS</h4>
                <br /><image src="../../images/PlasticCharacters/PrestonPS.png" height="200px"></image>
                      <p>
                          <br />
                          You use @Model.PSScore grams of PS per day.The average was  grams for the tested products.
                      </p>
            </td>

        </tr>
        <tr>
            <td>
            </td>
            <td style="width:30%" align="center" valign="top">
                <h4>Ollie Other</h4>
                <br /><image src="../../images/PlasticCharacters/OllieOther.png" height="200px"></image>
                      <p>
                          <br />
                          You use @Model.PSScore grams of other plastic types per day.The average was  grams for the tested products.
                      </p>
            </td>
        </tr>
        <tr>
            <td>
                <span class="btn btn-default" style="margin: 5px">
                    @Html.ActionLink("Back", "Calculator", "Calculator")
                </span>
            </td>
        </tr>
        <tr style="border:solid">
            <td style="width:30%" align="center" valign="top">
                <br /><image src="../../images/ChildBeach.jpg" width="60%"></image>
            </td>
            <td valign="top">
                <h4><em><b>Step 2 - Track your progress</em></b></h4>
                <p>
                    <small>
                        If you have completed the calculator on two different occasions you can check if your plastic footprint has changed.
                    </small>
                </p>
                <p align="right"><span class="btn btn-default" style="margin: 5px">@Html.ActionLink("Track your progress", "Tracker", "Tracker")</span></p>
            </td>
        </tr>
        <tr>

    </table>

