@model PlasticReductionProject.Models.CalculatorResult
@{
    ViewBag.Title = "Your Plastic Footprint";
}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0" nonce="4l2glAJT">

</script>
<div style="position:relative; top:100px;">
    <table align="center" width="80%">
        <tr>
            <td align="center" width="40%">
                <p>

                    <img src=@ViewBag.Image width="35%" />
                    <br />

                    <div class="fb-share-button"
                         data-href="https://mpfpiteration2.azurewebsites.net"
                         data-layout="button_count" data-size="large">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                    </div>
                </p>
            </td>
            <td align="center" width="40%">
                <p style="color: white; font-size: 40px;">@ViewBag.Comment</p>
                <br />
            </td>
        </tr>
    </table>
    <br />
    <div class="result" align="center">

        <table style="width:90%">

            @{
                var highest = Model.PlasticScores.First(x => x.Name == ViewBag.HighestProduct);
                var lowest = Model.PlasticScores.First(x => x.Name == ViewBag.LowestProduct);
                var multipleScores = (ViewBag.HighestProduct != ViewBag.LowestProduct);
                var lowScoreComment = "You did well with ";
                var highScoreComment = "You could do better with ";
                var firstRowStyle = "width:45%;text-align:center;color:white;font-size:3rem;";
                if (multipleScores)
                {
                    firstRowStyle = "width:50%;text-align:center;color:white;font-size:3rem;";
                }


                if (lowest.Score >= lowest.Average)
                {
                    lowScoreComment = "You could do better with ";
                }

                var productList = Model.Results.ToList().Where(x => x.Product.Type == highest.Type.Id).ToList();
                var barStyle = "";
                var stringStyle = "";
                var resultString = "";
                if (highest.Score > 3 * highest.Average)
                {
                    barStyle = "background-color:aliceblue; width:90%;";
                    stringStyle = "background-color:red;width:80%;";
                    resultString = "Very High";
                }
                else if (highest.Score > 2 * highest.Average)
                {
                    barStyle = "background-color:aliceblue; width:90%;";
                    stringStyle = "background-color:hotpink;width:60%";
                    resultString = "High";
                }
                else if (highest.Score < highest.Average / 1.5)
                {
                    barStyle = "background-color:aliceblue; width:90%;";
                    stringStyle = "background-color:green;width:40%";
                    resultString = "Low";
                    highScoreComment = "You did well with ";
                }
                else if (highest.Score < highest.Average / 2)
                {
                    barStyle = "background-color:aliceblue; width:20%;";
                    stringStyle = "background-color:greenyellow;width:80%;";
                    resultString = "Very Low";
                    highScoreComment = "You did well with ";
                }
                else
                {
                    barStyle = "background-color:aliceblue; width:50%;";
                    stringStyle = "background-color:blue;width:80%;";
                    resultString = "Average";

                }


                <tr>
                    @if (multipleScores)
                    {
                        <th align="center" style=@firstRowStyle>
                            @highScoreComment
                        </th>
                        <th style="width:10%"></th>
                        <th align="center" style="width: 45%; text-align: center; color: white; font-size: 3rem;">
                            @lowScoreComment
                        </th>
                    }
                    else
                    {
                        <th style="width:25%"></th>
                        <th align="center" style=@firstRowStyle>
                            @highScoreComment
                        </th>
                        <th style="width:25%"></th>
                    }
                </tr>

                <tr>
                    @if (!multipleScores)
                    {
                        <td></td>
                    }
                    <td align="center" valign="top">
                        <p style="color: white; font-size: 3rem;">@highest.Type.CharName</p>
                        <image class="image" src=@highest.Type.Image height="200px" />
                        <p class="bubbleHover bubble-bottom-left-hover" style="position: absolute; bottom: 280px; font-size: small">
                            @highest.Type.Description <br /> The products tested in this category were:
                            @foreach (var item in productList)
                            {
                                @item.Product.Description
                                <br />
                            }
                        </p>
                        <div align="left" style=@barStyle>
                            <div align="center" style=@stringStyle>@resultString</div>
                        </div>

                        <span class="btn btn-default" align="center" style="margin: 5px"> @Html.ActionLink("Consider Alternatives", "altButton", "Calculator", new { ProductId = highest.Type.Id }, null)</span>

                    </td>

                    <td></td>

                    @if (multipleScores)
                    {

                        productList = Model.Results.ToList().Where(x => x.Product.Type == lowest.Type.Id).ToList();
                        barStyle = "";
                        stringStyle = "";
                        resultString = "";
                        if (lowest.Score > 3 * lowest.Average)
                        {
                            barStyle = "background-color:aliceblue; width:90%;";
                            stringStyle = "background-color:red;width:80%;";
                            resultString = "Very High";

                        }
                        else if (lowest.Score > 2 * lowest.Average)
                        {
                            barStyle = "background-color:aliceblue; width:90%;";
                            stringStyle = "background-color:hotpink;width:60%";
                            resultString = "High";
                        }
                        else if (lowest.Score < lowest.Average / 1.5)
                        {
                            barStyle = "background-color:aliceblue; width:90%;";
                            stringStyle = "background-color:green;width:40%";
                            resultString = "Low";
                        }
                        else if (lowest.Score < lowest.Average / 2)
                        {
                            barStyle = "background-color:aliceblue; width:20%;";
                            stringStyle = "background-color:greenyellow;width:80%;";
                            resultString = "Very Low";
                        }
                        else
                        {
                            barStyle = "background-color:aliceblue; width:50%;";
                            stringStyle = "background-color:blue;width:80%;";
                            resultString = "Average";

                        }

                        <td align="center" valign="top">
                            <p style="color: white; font-size: 3rem;">@lowest.Type.CharName</p>
                            <image class="image" src=@lowest.Type.Image height="200px" />
                            <p class="bubbleHover bubble-bottom-left-hover" style="position: absolute; bottom: 280px; font-size: small ">
                                @lowest.Type.Description<br />
                                The products tested in this category were:
                                @foreach (var item in productList)
                                {
                                    @item.Product.Description
                                }
                            </p>
                            @*<p style="color: white; font-size: 2rem;">@lowest.Type.Type</p>*@
                            <div align="left" style=@barStyle>
                                <div align="center" style=@stringStyle>@resultString</div>
                            </div>
                            @if (lowest.Score >= lowest.Average)
                            {
                                <p>
                                    <span class="btn btn-default" align="center" style="margin: 5px">
                                        @Html.ActionLink("Consider Alternatives", "altButton", "Calculator", new { ProductId = lowest.Type.Id }, null)
                                    </span>
                                </p>
                            }
                        </td>
                    }


                </tr>
            }
        </table>
        <br />
    </div>
</div>