@model PlasticReductionProject.Models.CalculatorResult
    @{
        ViewBag.Title = "Your Plastic Footprint";
        ViewBag.Counter = 0;
    }

<h2>@ViewBag.Titel</h2>

    <table style="width:100%">
        <tr>
            @if (Model.PETScore != 0)
            {
                <td style="width:30%" align="center" valign="top">
                    <h4>Petey PET</h4>
                    <br /><image src="../../images/PlasticCharacters/PeteyPET.png" height="200px"></image>
                    <p>
                        <br />
                    <p>
                        You use @Model.PETScore grams of PET per day.<br />
                        The average was 60 grams for the tested products.
                    </p>
                </td>
                            }

            @if (Model.HDPEScore != 0)
            {
                <td style="width:30%" align="center" valign="top">
                    <h4>Harry HDPE</h4>
                    <br /><image src="../../images/PlasticCharacters/HarryHDPE.png" height="200px"></image>
                    <p>
                        <br />
                    <p>
                        You use @Model.HDPEScore grams of HDPE per day.The average was  grams for the tested products.
                    </p>

                </td>
                
            }
            
            @if (Model.PVCScore != 0)
            {
                <td style="width:30%" align="center" valign="top">
                    <h4>Pedro PVC</h4>
                    <br /><image src="../../images/PlasticCharacters/PedroPVC.png" height="200px"></image>
                    <p>
                        <br />
                        You use @Model.PVCScore grams of PVC per day.The average was  grams for the tested products.
                    </p>
                </td>
                
            }

            @if (ViewBag.Counter == 3)
            {
                @Html.Raw("</tr><tr>")
            }

            @if (Model.LDPEScore != 0)
            {
                <td style="width:30%" align="center" valign="top">
                    <h4>LarryLDPE</h4>
                    <br /><image src="../../images/PlasticCharacters/LarryLDPE.png" height="200px"></image>
                    <p>
                        <br />
                        You use @Model.LDPEScore grams of LDPE per day.The average was 70 grams for the tested products.
                    </p>
                </td>
            }

            @if (ViewBag.Counter == 3)
            {
                @Html.Raw("</tr><tr>")
            }

            @if (Model.PPScore != 0)
            {
                <td style="width:30%" align="center" valign="top">
                    <h4>Polly And Paulie PP</h4>
                    <br /><image src="../../images/PlasticCharacters/PollyAndPauliePP.png" height="200px"></image>
                    <p>
                        <br />
                        You use @Model.PPScore grams of PP per day.The average was  grams for the tested products.
                    </p>
                </td>
            }

            @if (ViewBag.Counter == 3)
            {
                @Html.Raw("</tr><tr>")
            }

            @if (Model.PSScore != 0)
            {

                <td style="width:30%" align="center" valign="top">
                    <h4>Preston PS</h4>
                    <br /><image src="../../images/PlasticCharacters/PrestonPS.png" height="200px"></image>
                    <p>
                        <br />
                        You use @Model.PSScore grams of PS per day.The average was  grams for the tested products.
                    </p>
                </td>
            }

            @if (ViewBag.Counter == 3)
            {
                @Html.Raw("</tr><tr>")
            }

            @if (Model.PSScore != 0)
            {
                <td style="width:30%" align="center" valign="top">
                    <h4>Ollie Other</h4>
                    <br /><image src="../../images/PlasticCharacters/OllieOther.png" height="200px"></image>
                    <p>
                        <br />
                        You use @Model.PSScore grams of other plastic types per day.The average was  grams for the tested products.
                    </p>
                </td>
            }

        </tr>
    </table>

