@model IEnumerable<PlasticReductionProject.Models.Project>
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>


<!-- add this when there is an administrator that wants to
                work on links using the webpage
<p>
    @Html.ActionLink("Create New", "Create")
</p>

    -->
<table class="table" style="width:100%"">


    @foreach (var item in Model)
    {

        <tr>
            <td style="width:30%">
                <br /><image src=@item.Image.ToString() width="100%"></image>
            </td>
            <td style="width:10%">
                
            </td>
            <td style="width:50%;vertical-align:middle;text-align:left">
                <h4><b>@item.Name</b></h4>
                <p>
                    <small>
                        @Html.DisplayFor(modelItem => item.Description)
                    </small>
                </p>
            </td>
            <td style="vertical-align:bottom">
                <p>
                    <span class="btn btn-default" style="margin: 5px" href=@item.LinkUrl target="_blank">
                        Go to Project
                    </span>
                </p>
            </td>

            <!-- add this when there is an administrator that wants to
                work on links using the webpage
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
        -->
        </tr>
    }

</table>