@model IEnumerable<PlasticReductionProject.Models.PlasticAlternative>


@{
    ViewBag.Title = "Alternatives";
}
<img class="bg" src="~/Images/SeaBackground.jpg" />
<br />
<br />
<br />
<br />
<br />

<div class="result">
        <p class="hero-heading" align="center">
            Here are some alternatives for @ViewBag.Product
        </p>
        <br />
        <table width="60%" align="center" border="1" style="padding:5px,5px,5px,5px">
            @if (Model.Count() > 0)
            {
                var counter = 1;
                <tr>
                    @foreach (var item in Model)
                    {

                        if (counter % 2 > 0)
                        {
                            <td width="50%" align ="center" class="altTD" style="background-image:url(@item.Image.ToString());background-size:contain;background-repeat:repeat-x">
                                <p><span class="resultBackground2" style="margin: 5px">
                                    @item.Description
                                </span></p>

                            </td>
                        }
                        else
                        {
                            <td width="50%" align ="center" class="altTD" style="background-image:url(@item.Image.ToString());">
                                <p>
                                    <span class="resultBackground2" style="margin: 5px">
                                        @item.Description
                                    </span>
                                </p>
</td>
                            @Html.Raw("</tr><tr>")
                        }
                        counter += 1;
                    }
                </tr>
                <tr>
                    <td>
                        <span class="btn btn-default" style="margin: 5px">
                            @Html.ActionLink("Back", "Alternatives", "Alternatives")
                        </span>
                    </td>
                </tr>
            }

        </table>
    </div>