@model IEnumerable<PlasticReductionProject.Models.Product>

@{
    ViewBag.Title = "Alternatives";
}

<br />
<br />
<br />
<br />
<br />


<div style="background-image: url('../../images/turtlePlasticbagDark.jpg'); background-repeat: no-repeat; background-size: cover;">
    <p class="hero-heading" align="center">
        <br />
        Here are some alternatives for popular plastic products<br />
    </p><table width="70%" height="70%" align="center" border="1" style="padding:5px,5px,5px,5px">
        @if (Model.Count() > 0)
        {
            var counter = 1;
            <tr>
                @foreach (var item in Model)
                {
                    if (counter % 3 > 0)
                    {
                        <td class="altTD" style="background-image:url(@item.Image.ToString());">
                            <span class="btn btn-default" style="margin: 5px">
                                @Html.ActionLink(item.Description, "AlternativesDetails", "Alternatives", new { ProductID = item.Id }, null)
                            </span>

                        </td>
                    }
                    else
                    {
                        <td class="altTD" style="background-image:url(@item.Image.ToString());">
                            <span class="btn btn-default" style="margin: 5px">
                                @Html.ActionLink(item.Description, "AlternativesDetails", "Alternatives", new { ProductID = item.Id }, null)
                            </span>


                        </td>
                        @Html.Raw("</tr><tr>");
                    }

                    counter += 1;
                }

            </tr>
        }
    </table>
</div>
