@model IEnumerable<PlasticReductionProject.Models.PlasticAlternative>


@{
    ViewBag.Title = "Alternatives";
}


<div style="position:relative; top:130px;">
    <div class="result">
        @if (Model != null && Model.Count() > 0)
        {
            if (Model.Count() > 0)
            {<p class="hero-heading" align="center">
                    Here are some alternatives to @ViewBag.SubProduct
                </p>
                <div class="altDetailGrid">

                    @foreach (var item in Model)
                    {
                        <div class="altGridItem">
                            <div style="background-image:url(@item.Image.ToString());background-size:cover;height:100%;border-radius:8px;">
                            </div>

                            <p style="margin:1px;text-align:center;">
                                @item.Description
                            </p>
                        </div>

                    }

                </div>

                <br/>
                <div style="align-self:center">
                    <span style="align-self:center">
                        @Html.ActionLink("Calculate your footprint again", "Calculator", "Calculator", null, new { @class = "btn btn-default" })
                    </span>
                </div>

            }
        }
        else
        {
            <p class="hero-heading" align="center">
                @ViewBag.AltText
            </p>
            <p class="hero-heading" align="center">
                @ViewBag.AltText2
            </p><br /><br />
            <br /><br />
            <p align="center">
                <span style="margin: 5px">
                    @Html.ActionLink("Calculate your footprint again", "Calculator", "Calculator", null, new { @class = "btn btn-default" })
                </span>
            </p>
        }


    </div>
</div>
